<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Beer Boss</title>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=block" rel="stylesheet">
  <!--Favicon-->
  <link rel="icon" type="image/png" href="images/favicon.png" />
  <!-- Roboto -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:wght@300;500&display=block" rel="stylesheet">
  <!--Bebas Neue-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!-- Datatables.net
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">  
  <link rel="stylesheet" href="https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css">
  -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.6.0/dt-1.12.1/b-2.2.3/r-2.3.0/datatables.min.css"/>

  
  <!-- Bootstrap-select - Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
  <!-- My stylesheets -->
  <link rel="stylesheet" href="/stylesheets/global.css">
  <link rel="stylesheet" href="/stylesheets/all.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175176340-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-175176340-1');
  </script>
</head>

<body>
    <%- include partials/nav.ejs %>
    
    <section id="allbeerprices">
        <h1 id="allbeerpricestitle" class="text-center">All Beer Prices</h1>
        <div id="value-loader">
            <img class=" mg-fluid mx-auto d-block" src="/images/beer-loader.gif" alt="loader">
            <h2 class="text-center loading-p">Loading...</h2>
        </div>
        <div class="container-fluid filters">
          <div class="container">
            <p>
              This table contains a list of all beer store products in every package size available. There are over 800 beers and 3000 purchasing options!
              Use the search bar and filters to narrow down your options. <b>By default, the table is sorted so the best value beers appear at the top (lowest cost per serving of alcohol).</b>
            </p>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-lg-6">
                <table class="table table-sm">
                  <thead class="text-center">
                    <tr>
                      <th colspan="3" scope="col">Container Type</th>
                    </tr>
                  </thead>
                  <tbody class="text-center">
                    <tr class="d-flex flex-row justify-content-between">
                      <td class="flex-fill"><button id="bottle" class="btn w-100 btn-success">Bottle</button></td>
                      <td class="flex-fill"><button id="can" class="btn w-100 btn-success">Can</button></td>
                      <td class="flex-fill"><button id="keg" class="btn w-100 btn-success">Keg</button></td>
                  </tbody>
                </table>
              </div>
              <div class="col-md-12 col-lg-6">
                <div class="text-center">
                  <label for="depositButton">This button will subtract the bottle/can deposit money from the final price:</label>
                  <button type="button" class="btn btn-success" id="depositButton">Include Bottle/Can Deposit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-lg">

        
            <table class="table" id='beerTable' width="100%">
              <thead>
                  <tr>
                      <th data-priority="1">Name</th>
                      <th>Type</th>
                      <th class="category">Category</th>
                      <th>ABV</th>
                      <th class="country">Country</th>
                      <th data-priority="5">Quantity</th>
                      <th data-priority="6">Container Size (ml)</th>
                      <th data-priority="4">Container Type</th>
                      <th data-priority="3">Price</th>
                      <th data-priority="3">Price</th>
                      <th data-priority="2" class="cost-serving">Cost per Serving of Alcohol</th>
                      <th data-priority="2" class="cost-serving">Cost per Serving of Alcohol</th>
                  </tr>
              </thead>
               <tbody>
               <% print.forEach(function (data) { %>
                  <tr>
                      <td><a href="<%= data.url %>" target="_blank" rel="noopener noreferrer"><%= data.beer_name_formatted %></a></td>
                      <td><%= data.beer_type %></td>
                      <td class="category"><%= data.category %></td>
                      <td><%= data.abv %>%</td>
                      <td class="country"><%= data.country %></td>
                      <td><%= data.quantity %></td>
                      <td><%= data.size_ml %></td>
                      <td><%= data.case_type %></td>
                      <td>$<%= data.main_price.toFixed(2) %></td>
                      <td>$<%= data.deposit_price.toFixed(2) %></td>
                      <td>$<%= data.dollars_per_drink.toFixed(2) %></td>
                      <td>$<%= data.dollars_per_drink_after_deposit.toFixed(2) %></td>
                  </tr>
               <% }) %>
               </tbody>
          </table>
        </div>
    </section>
    <div class="footer"></div>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- slim jQuerry for bootstrap. Not needed -->
    <!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <!-- Datatables.net-->
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <!-- Datatables.net Responsive Table-->
    <script src="https://cdn.datatables.net/responsive/1.0.7/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/colreorder/1.5.2/js/dataTables.colReorder.min.js"></script>
    <!-- Datatables.net Buttons
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css"></script>
    -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.6.0/dt-1.12.1/b-2.2.3/r-2.3.0/datatables.min.js"></script>

    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/all.js"></script>
</body>


</html>