<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Beer Boss</title>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <!--Favicon-->
  <link rel="icon" type="image/png" href="images/favicon.png" />
  <!--Bebas Neue-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!-- Datatables.net-->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">

  <!-- Bootstrap-select - Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
  <!-- My stylesheets -->
  <link rel="stylesheet" href="/stylesheets/style.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175176340-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-175176340-1');
  </script>
</head>

<body>
  <%- include partials/nav.ejs %>
    <section class="best-value-analyzer">
      <h1 class="text-center">Best Value Analyzer</h1>
      <div id="value-loader">
        <h1 class="text-center">Best Value Analyzer</h1>
        <img class=" mg-fluid mx-auto d-block" src="/images/beer-loader.gif" alt="loader">
        <h2 class="text-center loading-p">Loading...</h2>
      </div>
      <div class="value-introduction">
        <div class="value-text container-fluid">
          <div class="row">
            <div class="col">

            </div>
            <p class="col-12 col-lg-10">
              The best value analyzer helps you find the best purchasing option for any beer. Simply select your desired
              drink and the table will show you all the purchasing options. The table will be sorted with the best value
              options at the top.
            </p>
            <div class="col">

            </div>
          </div>
          <div class="row">
            <div class="col">

            </div>
            <p class="col-12 col-lg-10">
              The “Cost per Serving” column is colour coded from green to red to indicate the
              relative
              value of each purchasing option. <span type="button" data-toggle="modal" data-target="#colour-popup">Click
                here to view details.</span>
            </p>
            <div class="col">

            </div>
          </div>
        </div>
        <div class="value-tool">
          <div class="container-fluid">
            <div class="row">
              <!-- Beer selection and filters-->
              <div class="col-12 col-lg-4">
                <div class="container-fluid">
                  <div class="row">
                    <h2>Pick your Beer:</h2>
                  </div>
                  <div class="row">
                    <!-- Used bootstrap-select library -->
                    <select class="selectpicker col-12 beer-dropdown" id="beer-picker" data-live-search="true" data-live-search-placeholder="Search for a beer">
                      <option selected>Select a Beer</option>
                      <% beers.forEach(function (beer) { %>
                        <option value='<%= beer %>'>
                          <%= beer %>
                        </option>
                      <% }) %>
                    </select>
                  </div>
                  <div class="row">
                    <h3>Quick picks:</h3>
                  </div>
                  <div id="quick-picks" class="row">
                    <div class="container-fluid">
                      <div class="row align-items-center justify-content-start">
                        <div class="col">
                          <button type="button" class="btn btn-light">Bud Light</button>
                        </div>
                        <div class="col">
                          <button type="button" class="btn btn-light">Budweiser</button>
                        </div>
                        <div class="col">
                          <button type="button" class="btn btn-light">Molson Canadian</button>
                        </div>
                      </div>
                      <div class="row align-items-center justify-content-start">
                        <div class="col">
                          <button type="button" class="btn btn-light">Busch Lager</button>
                        </div>
                        <div class="col">
                          <button type="button" class="btn btn-light">Busch Light</button>
                        </div>
                        <div class="col">
                          <button type="button" class="btn btn-light">Labatt Blue</button>
                        </div>
                      </div>
                      <div class="row align-items-center justify-content-start">
                        <div class="col">
                          <button type="button" class="btn btn-light">Corona</button>
                        </div>
                        <div class="col">
                          <button type="button" class="btn btn-light">Coors Original</button>
                        </div>
                        <div class="col">
                          <button type="button" class="btn btn-light">Coors Light</button>
                        </div>
                      </div>
                      <div class="row align-items-center justify-content-start">
                        <div class="col">
                          <button type="button" class="btn btn-light">Miller Lite</button>
                        </div>
                        <div class="col">
                          <button type="button" class="btn btn-light">Michelob Ultra</button>
                        </div>
                        <div class="col">
                          <button type="button" class="btn btn-light">Modelo Especial</button>
                        </div>
                      </div>
                      <div class="row align-items-center justify-content-start">
                        <div class="col">
                          <button type="button" class="btn btn-light">Alexander Keiths Ipa</button>
                        </div>
                        <div class="col">
                          <button type="button" class="btn btn-light">Stella Artois</button>
                        </div>
                        <div class="col">
                          <button type="button" class="btn btn-light">Carling Lager</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <h2>Filters:</h2>
                  </div>
                  <!-- Filter buttons -->
                  <div class="row">
                    <div class="filters">
                      <!--
                      <div class="form-check beer-filter">
                        <input class="form-check-input" type="checkbox" value="" id="subtract-deposit">
                        <label class="form-check-label" for="subtract-deposit">
                          Subtract Bottle Deposit From Price
                        </label>
                      </div>
                      -->
                      <div class="form-check beer-filter">
                        <input class="form-check-input" type="checkbox" value="" id="include-bottles" checked>
                        <label class="form-check-label" for="include-bottles">
                          &nbspBottles
                        </label>
                      </div>
                      <div class="form-check beer-filter">
                        <input class="form-check-input" type="checkbox" value="" id="include-cans" checked>
                        <label class="form-check-label" for="include-cans">
                          &nbspCans
                        </label>
                      </div>
                      <div class="form-check beer-filter">
                        <input class="form-check-input" type="checkbox" value="" id="include-kegs" checked>
                        <label class="form-check-label" for="include-kegs">
                          &nbspKegs
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Table -->
              <div class="col-12 col-lg-8">
                <table id="value-table" class="display table table-hover">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Quantity</th>
                      <th>Container Size (ml)</th>
                      <th>Container Type</th>
                      <th>Price</th>
                      <th>Cost per serving (355ml)</th>
                      <th>Cost per serving of alcohol</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% print.forEach(function (data) { %>
                      <tr>
                        <td>
                          <%= data.name %>
                        </td>
                        <td>
                          <%= data.quantity %>
                        </td>
                        <td>
                          <%= data.size_container %>
                        </td>
                        <td>
                          <%= data.type_container %>
                        </td>
                        <td>$<%= data.price.toFixed(2) %>
                        </td>
                        <td class="cost-per-serving">$<%= (data.price / ((data.quantity * data.size_container) / 355)).toFixed(2) %>
                        </td>
                        <td>$<%= data.dollar_drink.toFixed(2) %>
                        </td>
                      </tr>
                      <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="colour-popup" tabindex="-1" role="dialog" aria-labelledby="colour-popup"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered cost-per-serving-modal" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Cost per Serving Colours</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img src="/images/value-colours.png" class="img-fluid" id="colour-value" alt="value colors">
            <p>
              The value of each purchasing option is represented visually by colours ranging from green to red.
            </P>
            <p>
              In the green section, the purchasing options are within <b>10%</b> of the best value option (the first
              item in the table). The yellow-orange section contains purchasing options that are within <b>20%</b> of
              the best purchasing option. Finally, the red zone offers very poor value. In the red section, the cost per
              serving can be upwards of <b>25%</b> when compared to the best purchasing option.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="footer"></div>


    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- slim jQuerry for bootstrap. Not needed -->
    <!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"></script>

    <!-- Datatables.net-->
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <!-- Datatables.net Responsive Table-->
    <script src="https://cdn.datatables.net/responsive/1.0.7/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/colreorder/1.5.2/js/dataTables.colReorder.min.js"></script>
    <!-- Datatables.net Buttons-->
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <!-- Bootstrap-select - Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <!--Scripts-->
    <script src="/javascripts/value.js"></script>

</body>

</html>